<h1>Sono disponibili toner per le seguenti stampanti</h1>

<% old_vendor = nil %>  
<dl class='dl-horizontal'>
  <% @printer_models.each do |printer_model| %>  
    <% if old_vendor != printer_model.vendor and old_vendor = printer_model.vendor %>  
      <dt><%= printer_model.vendor %></dt>
    <% end %>
    <dd id="pm_<%= printer_model.id %>">
      <%= link_to printer_model.name, printer_model_path(printer_model), remote: true %>  
    </dd>
  <% end %>
</dl>
