<h1>Search results</h1>

<h2><%= t :printer_models %></h2>

<ul class="all_clickable">
  <% @printer_models.each do |printer_model| %>  
    <li><%= link_to printer_model, new_printer_model_printer_path(printer_model) %></li>
  <% end %>
</ul>

<h2><%= t :toner_models %>  </h2>

<ul class="all_clickable">
  <% @toner_models.each do |toner_model| %>  
    <li><%= link_to toner_model, new_toner_model_toner_path(toner_model) %></li>
  <% end %>
</ul>
