<div class="alert alert-info">
<p><strong>This application allows to:</strong></p>
<ol>
  <li>record printers in your organization;</li>
  <li>handle toners in your organization;</li>
  <li>mark your unused toner in order to make them available to other organizations;</li>
  <li><strong>have a list of toners in other organizations compatible with your printers.</strong></li>
</ol>
</div>


