<div class="well">
<p><strong>Questo applicativo permette:</strong></p>
<ul>
  <li>inserire le stampanti attive nella propria struttura</li>
  <li>inserire i toner dismessi della propria struttura per renderli disponibili ad altre strutture</li>
  <li>disporre dell'elenco dei toner dismessi da altre strutture compatibili con le proprie stampanti</li> 
</ul>
</div>

<h1>Strutture Unibo</h1>

<dl class=''>
  <% @organizations.each do |organization| %>  
    <dt><%= organization.name %> <small><%= organization.description %></small></dt>
    <dd><%= t :admins %>: <em><%= organization.admins_string %><em></dd>
  <% end %>
</dl>
