<h1>Strutture Unibo</h1>

<dl>
  <% @organizations.each do |organization| %>  
    <dt><%= organization.name %> <small><%= organization.description %></small></dt>
    <dd><%= t :admins %>: <em><%= organization.admins_string %><em></dd>
  <% end %>
</dl>
