<div class="well">
<p><strong>Questo applicativo permette:</strong></p>
<ol>
  <li>di registrare le stampanti attive presenti nella propria struttura;</li>
  <li>di gestire i toner aquistati;</li>
  <li>segnalare i toner dismessi dalla propria struttura per renderli disponibili ad altre strutture;</li>
  <li><strong>disporre dell'elenco dei toner dismessi da altre strutture compatibili con le proprie stampanti.</strong></li> 
</ol>
</div>

<h1>Strutture Unibo</h1>

<dl>
  <% @organizations.each do |organization| %>  
    <dt><%= organization.name %> <small><%= organization.description %></small></dt>
    <dd><%= t :admins %>: 
    <em>
      <%= raw organization.admins.map {|admin| mail_to admin.user.upn, admin.to_s}.join(', '.html_safe) %>  
    <em>
    </dd>
  <% end %>
</dl>
