<%= dm_card title: 'Benvenuto!' do %>
  Hai ora la possibilità di operare sulla struttura 

  <div class="my-5">
  <strong><%= @organization.name %></strong>
  <em>(<%= @organization.description %>)</em>
  </div>

  per aggiungere stampanti, toner e altri amministratori.<br/><br/>

  <%= link_to 'PROCEDI', root_path, class: :button %>  
<% end %>

