<h1>Modelli stampanti presenti in Unibo</h1>

<dl class="dl-horizontal">
  <% old_vendor = '' %>  
  <% @printer_models.each do |printer_model| %>
    <% if old_vendor != (vendor = printer_model.vendor.name) %>  
      <dt><%= old_vendor = vendor %></dt>
    <% end %>
    <dd><%= show_printer_model_with_actions(printer_model) %></dd>
  <% end %>
</dl>

<%= link_to_new 'Aggiungi modello', new_printer_model_path %>

