<h1>Modelli stampanti presenti in Unibo</h1>

<ul>
<% @printer_models.each do |printer_model| %>
  <li><%= link_to printer_model, edit_printer_model_path(printer_model) %></li>
<% end %>
</ul>

<%= link_to_new 'Aggiungi modello', new_printer_model_path %>

