<div class="dm-card">
<div class="dm-card-title"><%= @printer_model %></div>
<div class="dm-card-body">
  <%= render(@printer_model) %>
</div>
<div class="dm-card-footer">
  <%= render partial: 'actions' %>
</div>
</div>

