@import "dm_common/variables";
@import "dm_common/dm";
@import 'dm_common/tablesorter';

li { list-style-type: none; }

ul.organizations {
  @extend .list-group;
  li { @extend .list-group-item; }
}

span.actions {
  @extend .pull-right;
}

#organization_owning {
  @include make-row();
  .title {
    margin-left: 20px;
    font-weight: bold;
  }
  div.interesting {
    @extend .col-md-6;
  }
  div.printers {
    @extend .col-md-6;
  }
  ul {
    @extend .list-group;
    li {
      @extend .list-group-item;
      padding-top: 7px;
      padding-bottom: 7px;
      .toner_number {
        @extend .badge;
        @extend .pull-left;
        margin-right: 10px;
      }
      &.gift-class {
        @extend .list-group-item-warning;
      }
    }
  }
}
  
ul.vendors {
  @extend .list-group;
  li {
    @extend .list-group-item;
  }
}
#toner_model_name {
  text-transform: uppercase;
}

dl.toners-list, dl.printers-list {
  @extend .list-group;
  dt, dd { 
    @extend .list-group-item;
  }
  dt {
    background-color: $gray-lighter;
    margin: 2px 0;
  }
  dd {
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

}

