@import "dm_common/variables";
@import "dm_common/dm";
@import 'dm_common/tablesorter';

li {
  list-style-type: none;
}

ul.organizations {
  @extend .list-group;
  li {
    @extend .list-group-item;
    span.actions {
      @extend .pull-right;
    }
  }
}

span.actions {
  @extend .pull-right;
}

#organization_owning {
  @include make-row();
  .title {
    margin-left: 20px;
    font-weight: bold;
  }
  div.interesting {
    @extend .col-md-6;
  }
  div.printers {
    @extend .col-md-6;
  }
  ul {
    @extend .list-group;
    li {
      @extend .list-group-item;
      padding-top: 7px;
      padding-bottom: 7px;
      .toner_number {
        @extend .badge;
        @extend .pull-left;
        margin-right: 10px;
      }
    }
  }
}
  
#printer_models_checkbox {
  @include make-row();
  .title {
    margin-left: 20px;
    font-weight: bold;
  }
  div.vendor {
    @extend .col-md-6;
  }
  div.model {
    @extend .col-md-6;
  }
}
  
#printer_form {
  @include make-row();
  .title {
    margin-left: 20px;
    font-weight: bold;
  }
  div.vendor {
    @extend .col-md-3;
  }
  div.model {
    @extend .col-md-3;
  }
  div#details {
    @extend .col-md-6;
  }
}
  
ul.vendors {
  @extend .list-group;
  li {
    @extend .list-group-item;
  }
}
#toner_model_name {
  text-transform: uppercase;
}


