<h1>Strutture</h1>

<ul>
<% @organizations.each do |organization| %>
  <li>
    <%= link_to organization, organization_path(organization) %> 
    <%= link_to_edit(edit_organization_path(organization)) if current_user.is_cesia? %>
  </li>
<% end %>
</ul>

<% if current_user.is_cesia? %>  
  <%= link_to_new 'Nuova struttura', new_organization_path %>
<% end %>

