<h1>Toner resi disponibili per altre strutture</h1>

<h2>da: <%= @organization.name %></h2>

<% if (unusable_toners = @organization.unusable_toners).any? %>
  <div class="list-group my-3">
    <% unusable_toners.each do |toner| %>
      <%= link_to toner.toner_model, toner.toner_model, class: 'list-group-item list-group-item-action' %></li>
  <% end %>
  </div>
<% end %>

<div class='my-3'>
  <%= render 'home/admins', organization: @organization %>  
</div>


