<%= main_title "toner: #{toner_model}" %>

<% if @available_toners.empty? %>  
  <p class="alert alert-warning">Non sono al momento disponibili toner di questo modello in Unibo</p>
<% else %>
  <div class="alert alert-success">
    Sono disponibili toner presso:
    <ul>
      <% @available_toners.each do |available_toner| %>
        <li><%= link_to available_toner.organization, available_toner.organization %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @compatible_printers.empty? %>  
  <p class="alert alert-warning">Registrazione incompleta. Si prega di aggiungere stampanti compatibili.</p>
<% else %>
  <dl>
    <dt>Stampanti compatibili:</dt>
    <% @compatible_printers.each do |compatible_printer| %>  
      <dd><%= modal_link_to compatible_printer, compatible_printer %></dd>
    <% end %>
  </dl>
<% end %>

<%= dm_modal_js_helper %>  
