<h1>Modelli di toner presenti in Unibo</h1>

<dl class="dl-horizontal">
  <% old_vendor = '' %>  
  <% @toner_models.each do |toner_model| %>
    <% if old_vendor != (vendor = toner_model.vendor.name) %>  
      <dt><%= old_vendor = vendor %></dt>
    <% end %>
    <dd>
    <strong><%= link_to toner_model.name, edit_toner_model_path(toner_model) %></strong>
    <small>(<%= toner_model.printer_models.map(&:name).join(', ') %>)</small>
    </dd>
  <% end %>
</dl>

<%= link_to_new 'Aggiungi modello', new_toner_model_path %>  
