<h1>Modelli di toner presenti in Unibo</h1>

<ul>
  <% @toner_models.each do |toner_model| %>  
    <li><strong><%= toner_model %></strong>
      (<%= toner_model.printer_models.map(&:name).join(', ') %>)
      <%= link_to_edit edit_toner_model_path(toner_model) %> 
    </li>
  <% end %>
</ul>

<%= link_to_new 'Aggiungi modello', new_toner_model_path %>  
